.b    {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    min-height: 75rem;
    padding-top: 6rem;
    background-image: url("https://github.com/GallaPriyanka/aboutme/blob/master/images/mynature.jpeg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-headings  {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: darkblue;
    padding-left: 5px;
}

.secondlevelheadings {
    font-size: 2.5rem;
}

#sec_bg{
    padding-right: 3em;
}

#sec_plans{
    padding-right: 3em;
}

#tb{
    background-color: #006947;
    border: 1px;
    border-color: black;
    height: 15rem;
    width: 30rem;
}

th, td{
    border: 1px;
    border-style: double;
    border-color: black;
    color: palegoldenrod;
    text-align: left;
}

section {
    margin: 0.5rem;
    padding: 2rem;
    height: auto;
    background-color: lightcoral;
    border-collapse: collapse;
    border-style: solid;
}

#volumeButton {
    color: black;
    font-size: 1.5rem;
    
}


